@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@700&display=swap');

:root {
    --main-color: #F7F234;
    --bg-color: #212529;
    --text-color: #fff;
}

body {
    background-color: var(--bg-color);
    line-height: 30px;
}

header {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

h1, h2, h3 {
    font-family: 'Raleway', sans;
    color: var(--main-color);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    margin-bottom: 20px;
    text-align: center;
}

p, li {
    font-family: 'Merriweather', sans;
    color: var(--text-color);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 20px;   
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

header nav ul li a:hover {
    text-decoration: none;
    color: var(--main-color);
}

main {
    padding: 20px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/boba-club.jpg");
    background-size: cover;
    background-position: center;
}

.tagline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu {
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 25px;
    padding: 0px 150px;
}

.container ul {
    max-width: 50%;
    font-size: 14px;
}

figure {
    max-width: 50%;
}

img {
    border-radius: 10px;
    max-width: 100%;
}

figcaption {
    color: var(--main-color);
    text-align: center;
}

#contact {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 14px;
}

.form-container {
    padding: 30px;
    background-color: #343a40;
    border-radius: 10px;
    margin: 25px auto;
    width: 75%;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

input {
    background-color: var(--bg-color);
    border-radius: 10px;
    border: none;
    height: 30px;
    font-family: 'Merriweather', sans;
    padding-left: 15px;
    color: var(--main-color);
}

input::placeholder {
    color: var(--text-color);
}

.button {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.button:hover {
    background-color: var(--bg-color);
    cursor: pointer;
    color: var(--main-color);
}

footer {
    text-align: center;
    padding-bottom: 25px;
}

footer h3 {
    margin-bottom: 0;
}